/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 13, 2017, 1:08:12 PM
    Author     : thomas
*/

body {

}

#jmuSunset {
    margin: 90px 0 0 0;
    text-align: center;
}

#aboutHeading {
    margin: 30px 0 0 0;
    font-family: 'Ranga', cursive;
    text-align: center;
    font-size: 40px;
}

#slogan {
   font-size: 25px;
   font-family: 'Ranga', cursive; 
}

#wrapperAboutText {
    display: inline-block;
    margin: 0 100px 0 100px;
    /*text-align: center;*/
}

#howItWorks {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

#mission {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

#aboutText {
/*    text-align: center;*/
    margin: 20px 0 0 0;
    width: 1400px;
    
    font-family: 'PT Sans Narrow', sans-serif;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    
    -webkit-column-rule: 1px solid #9370DB; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px solid #9370DB; /* Firefox */
    column-rule: 1px solid #9370DB;
    
    -webkit-column-width: 120px; /* Chrome, Safari, Opera */
    -moz-column-width: 120px; /* Firefox */
    column-width: 120px;
}
