
body {
	margin: 20px;
	padding: 0;
	background: #FFFFFF url(../img/shaking-hands.jpg);
        
	/*background-size:800px 600px;*/
        background-repeat:no-repeat;
        font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3C3728;
        height: 100%
}

/* Footer */

#footer {
	width: 600px;
	margin: 0 auto;
	background: #000000;
}

#footer p {
	margin: 0;
	padding: 0 0 4px 0;
	text-transform: lowercase;
	text-align: center;
	font-size: 9px;
	color: #3C3728;
}

#footer a {
	color: #786E50;
}