body {
	margin: 20px;
	padding: 0;
	background: #FFFFFF url(../img/shaking-hands.jpg);
        
	/*background-size:800px 600px;*/
        background-repeat:no-repeat;
        font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3C3728;
        height: 100%
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000000;
}

p, ol, ul {
	line-height: 20px;
}

a {
	color: #000000;
}

a:hover {
	text-decoration: none;
}

.headerPhoto{
    margin: 0 auto;
    width: 580px;
    height: 200px;
    display: block;
    padding: 15px 10px 10px 10px;
    background: #FFF url(../img/James_Madison_University.jpg) no-repeat center;
}

#banner {
	width: 592px;
	height: 112px;
	margin: 0 auto;
	background: url(images/img2.jpg);
        background-color: #9370DB;
	border: 4px solid #4B0082;
}

#banner h1 {
	float: left;
	padding: 40px 0 0 20px;
	font: normal small Arial, Helvetica, sans-serif;	font-size: 36px;
        text-transform: uppercase;
        letter-spacing: .2em;
        color: #ACA283;
}

#banner h2 {
	float: right;
	padding: 95px 5px 0 0;
	font-size: 11px;
}

#banner a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 11px;
	color: #ACA283;
}

#siteNavigation {
	width: 700px;
	height: 30px;
	margin: 0 auto;
}

#siteNavigation ul {
	margin: 0;
        display: table-row;
	padding: 0;
	list-style: none;
}

#siteNavigation li {
	display: inline;
}

#siteNavigation a {
	display: block;
	float: left;
	width: 100px;
	height: 26px;
	padding: 4px 0 0 0;
	background: url(images/img3.gif);
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	color: #ACA283;
}

#siteNavigation a:hover, #menu .active a {
	background: url(images/img4.gif);
	color: #000000;
}

