
body {
	margin: 20px;
	padding: 0;
	background: #FFFFFF url(../img/shaking-hands.jpg);
        
	/*background-size:800px 600px;*/
        background-repeat:no-repeat;
        font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3C3728;
        height: 100%
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000000;
}

h2 { font-size: 24px; }
h3 { font-size: 18px; }

p, ol, ul {
	line-height: 20px;
}

a {
	color: #000000;
}

a:hover {
	text-decoration: none;
}

.image {
	float: left;
	margin: 5px 15px 0 0;
	border: 4px solid #000000;
}

.byline {
	margin: 0;
	padding: 0 0 0 5px;
	background: #645B43;
	font-size: 9px;
}

/* Content */
#content-wrap {
        clear: both;
	float: left;
	width: 100%;
}
#contentArea {
	width: 592px;
	margin: 0 auto;
	background: #9370DB url(images/img5.gif) repeat-y;
	border: 4px solid #4B0082;
}

#content {
	float: right;
	width: 320px;
	padding: 20px;
}

