body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	font-weight: bold;
	background: #FFF;
	}

h1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	margin:0;
	padding:0;
	}

hr {
	border:none;
	border-top:1px solid #CCCCCC;
	height:1px;
	margin-bottom:25px;
	}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}

img {
	border: none;
	}
	
#contentNavigation {
        float: left;
	padding: 20px;
	width: 120px;
	/*border-style: solid solid none solid;
	border-color: #000;
	border-size: 1px;
	border-width: 1px;*/
	}
	
#contentNavigation li a {
	height: 32px;
  	/*voice-family: "\"}\"";*/ 
  	voice-family: inherit;
  	height: 24px;
	text-decoration: none;
	}	
	
#contentNavigation li a:link, #menu li a:visited {
	color: #CCC;
	display: block;
	background:  url(../img/menu.bmp);
	padding: 8px 0 0 10px;
	}
	
#contentNavigation li a:hover {
	color: #FFF;
	background:  url(../img/menu.bmp) 0 -32px;
	padding: 8px 0 0 10px;
	}

